<a href="https://colab.research.google.com/github/joudiabouseif/DLClus/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['datasetName', 'keywords'])
df

Empty DataFrame
Columns: [datasetName, keywords]
Index: []

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving Test (1).csv to Test (1).csv

In [ ]:
# Import pandas package
import pandas as pd

# making data frame
data = pd.read_csv("Test (1).csv")

dsName = ("Test (1)")

# list(data) or
l = list(data.columns)

In [ ]:
# Python program to convert a list
# to string using join() function
	
# Function to convert
def listToString(s):
	
	# initialize an empty string
	str1 = " "
	
	# return string
	return (str1.join(s))
		
		
# Driver code	

s = listToString(l).replace("_", " ")
s = s.replace("/", " ")
print(s)

Employee ID Gender Age Education Level Relationship Status Hometown Unit Decision skill possess Time of service Time since promotion growth rate Travel Rate Post Level Pay Scale Compensation and Benefits Work Life balance VAR1 VAR2 VAR3 VAR4 VAR5 VAR6 VAR7

In [ ]:
import re
finalRow = re.sub(r"(?<=\w)([A-Z])", r" \1", s)
print (finalRow)

Employee I D Gender Age Education Level Relationship Status Hometown Unit Decision skill possess Time of service Time since promotion growth rate Travel Rate Post Level Pay Scale Compensation and Benefits Work Life balance V A R1 V A R2 V A R3 V A R4 V A R5 V A R6 V A R7

In [ ]:
fr = re.sub(' +', ' ', finalRow)
print(fr)

Employee I D Gender Age Education Level Relationship Status Hometown Unit Decision skill possess Time of service Time since promotion growth rate Travel Rate Post Level Pay Scale Compensation and Benefits Work Life balance V A R1 V A R2 V A R3 V A R4 V A R5 V A R6 V A R7

In [ ]:
dict = {'datasetName': dsName, 'keywords': fr}

df = df.append(dict, ignore_index = True)

df

,datasetName,keywords
0,USA_cars_datasets,unnamed: 0 price brand model year title status...
1,cars,manufacturer name model name transmission colo...
2,test-data,unnamed: 0 name location year kilometers drive...
3,vehicles,id url region region url price year manufactur...
4,zoo,animal name hair feathers eggs milk airborne a...
5,zoo2,animal name hair feathers eggs milk airborne a...
6,zoo3,animal name hair feathers eggs milk airborne a...
7,qs-world-university-rankings-2017-to-2022-V2,university year rank display score link countr...
8,qs-world-university-rankings-2017-to-2022-V2,university year rank display score link countr...
9,"cwurData,csv",world rank institution country national rank q...
10,cwurData,world rank institution country national rank q...
11,timesData,world rank university name country teaching in...
12,WA_Fn-UseC_-HR-Employee-Attrition,age attrition business travel daily rate depar...
13,employee_attrition_test,age business travel daily rate department dist...
14,Test (1),Employee I D Gender Age Education Level Relati...

In [ ]:
df['keywords'] = df['keywords'].str.lower()

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = stopwords.words('english')
df['keywords'] = df['keywords'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df.head()

In [ ]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
ps = PorterStemmer()
def stem_sentences(sentence):
    tokens = sentence.split()
    stemmed_tokens = [ps.stem(token) for token in tokens]
    return ' '.join(stemmed_tokens)

df['keywords'] = df['keywords'].apply(stem_sentences)

In [ ]:
df.to_csv('df2.csv')
files.download('df2.csv')